#page-header {
  height: 100px;
  background: url('./img/graph1.jpg');
  background-position: 0 -360px;
  background-attachment: fixed;
  color: #fff;
  border-bottom: 1px #eee solid;
  padding-top: 25px;
}

.canvas-container {
  height: 60vh;
}
